@font-face {
    font-family: "Ubuntu 700";
    src: url("../fonts/Ubuntu-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu 400";
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}


.container {
    position: fixed;
    background: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.top-menu {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}

.top-menu a{
    text-decoration: none;
    color: white;
}

.logo-text {
    font-family: "Ubuntu 700";
    font-size: 22px;
    text-transform: uppercase;
    margin: 18px 0 18px 80px;
}

.logo-text:hover {
    color: rgb(1 129 63);
}

.menu-icons-block {
    margin-left: auto;
}

.menu-icons-block svg {
    fill: white;
}

.menu-icons-block svg:hover {
    fill: green;
}

.menu-icons-block::after {
    display: inline-block;
    content: "";
    height: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.9 );
}

.white-text {
    color: white;
    font-family: "Ubuntu 400";
    font-size: 14px;
    margin-left: 27px;
    margin-right: 80px;

}
.log-in {
    font-family: "Ubuntu 400";
    font-size: 14px;
}

.log-in:hover {
    color: rgb(1 129 63);
}

.menu-icon {
    margin-right: 25px;
}

.sign-up-form {
    margin: 55px auto 0 auto;
    background-color: white;
    max-width: 444px;
    padding-bottom: 38px;
}

.in-form {
    margin-left: 60px;
    margin-right: 60px;
}

.top-size {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.sign-up {
    font-family: "Ubuntu 400";
    font-size: 20px;
    color: #434343;
}

.sign-up::before {
    color: #3cb878;
    content: "-";
    padding-right: 14px;
    height: 18px;
    background-color: #3cb878;
    margin-right: 40px;
}


.log-in-link {
    text-decoration: none;
    color: #3cb878;
    font-family: "Ubuntu 400";
    font-size: 14px;
    margin-top: auto;
    margin-right: 60px;
}

.log-in-link:hover {
    color: rgb(1 129 63);
}

.network {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

.network a {
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: "Ubuntu 400";
    text-decoration: none;
    font-size: 16px;
}

.fa-brands.fa-facebook-f {
    font-size: 24px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
    padding-right: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 17px;
}

.fa-brands.fa-google-plus-g {
    font-size: 24px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 12px;
}

.network-text {
    margin: 0 auto;
}

.button-facebook {
    background: rgba(48, 93, 184, 1);
}
.button-google {
    background: rgba(223, 74, 50, 1);
}

.button-facebook:hover {
    background: rgba(2, 34, 99, 1);

}
.button-google:hover {
    background: rgba(171, 31, 9, 1);
}


.or {
    display: inline-block;
    font-family: "Ubuntu 400";
    font-size: 14px;
    color: #848484;
    margin: 30px auto 0 auto;
}

.or:before, .or:after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 150px;
    background: #f2f2f2;
}

.or::before {
    margin: 0 3px 4px auto;
}

.or::after {
    margin: 0 auto 4px 3px;
}

/* Forms */
.information {
    width: 100%;
    margin-top: 12px;
    border: none;
    font-family: "Ubuntu 400";
    font-size: 14px;
    padding: 0;
    height: 45px;
    border: 1px solid rgba(242, 242, 242, 1);
    text-indent: 20px;
    outline: none;
}

.information::placeholder {
    color: rgba(190, 190, 190, 1);
}

.information:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.checkbox-label {
    font-family: "Ubuntu 400";
    font-size: 14px;
    cursor: pointer;
}

.checkbox {
    margin-top: 12px;
    margin-left: 0;
    cursor: pointer;
}

.terms-conditions {
    color: #3cb878;
    text-decoration: none;
}

.terms-conditions:hover {
    color: rgb(1 129 63);
    text-decoration: underline;
}

.submit {
    background-color: #3cb878;
    margin-top: 16px;
    text-align: center;
    color: white;
    font-family: "Ubuntu 400";
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 4px;
}

.decoration:hover {
    background-color: rgb(1 129 63);
}

.decoration {
    cursor: pointer;
    width: 100%;
    background-color: #3cb878;
    margin-top: 16px;
    text-align: center;
    color: white;
    font-family: "Ubuntu 400";
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 4px;
    border: none;
}










