@font-face {
    font-family: "Open Sans 600";
    src: url("../fonts/static/OpenSans/OpenSans-SemiBold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans 700";
    src: url("../fonts/static/OpenSans/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1900px;
}

.top-menu {
    display: flex;
    background: #313131;
}

.logo-text {
    display: flex;
    width: 27px;
    height: 27px;
    margin: 22px 0 0 29px;
    text-decoration: none;
}

.architect {
    align-items: center;
    margin-left: 27px;
    margin-top: auto;
    color: white;
    font-size: 22px;
    font-family: "Open Sans 700";
}

.menu {
    display: inline-block;
    width: 60%;
    align-items: center;
    margin: auto;
    font-family: "Open Sans 600";
}

.menu ul {
    text-align: center;
}

.menu li {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    color: white;
}

.menu li:hover a{
    color: #14b9d5;
    cursor: pointer;
}

.menu-item {
    margin-left: 17px;
    margin-right: 17px;
}

.menu-link {
    text-decoration: none;
    display: block;
    color: white;
}

.fa-search {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    margin-left: 114px;
    height: 70px;
    width: 70px;
}

.fa-search:hover {
    cursor: pointer;
}

.latest-news {
    background: url("../img/header-background.png") ;
    height: 369px;
}

.news-header {
    color: white;
    font-size: 27px;
    line-height: 37px;
    padding-top: 164px;
    text-align: center;
    font-family: "Open Sans 700";
}

.links-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 44px;
    text-align: center;
}

.links-wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 55px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    border-style: none;
    font-family: "Open Sans 600";
    text-decoration: none;
}

.button-subscribe {
    background-color: #89CA62;
}

.button-articles {
    background-color: #14b9d5;
}

.most-popular-posts {
    background-color: #F2F2F2;
}

.popular-posts-container {
    width: 1170px;
    height: 1030px;
    margin: 0 auto;
}

.popular-header {
    font-family: "Open Sans 700";
    text-align: center;
    font-size: 27px;
    color: #18B4CF;
    padding-top: 50px;
}

.popular-photo-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:  370px;
    height: 100%;
    gap: 30px;
}

.photo-block {
    display: block;
    width: 370px;
}

.popular-photo-header {
    background-color: white;
    font-family: "Open Sans 700";
    font-size: 18px;
    text-align: center;
    margin-top: -5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.most-popular-clients {
    background: url("../img/Shape 23.jpg") ;
    height: 588px;
}

.most-popular-clients, .latest-news {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.popular-clients-header {
    color: white;
    font-size: 34px;
    line-height: 37px;
    padding-top: 106px;
    text-align: center;
    font-family: "Open Sans 700";
}

.logos {
    width: 880px;
    margin: 200px auto;
}

.logos-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.logos-list li {
    text-align: center;
    align-items: center;
    margin: auto 0;
}

.top-rated-header {
    color: #14b9d5;
    font-family: "Open Sans 700";
    font-size: 27px;
    text-align: center;
    margin-top: 50px;
}

.top-rated-photos {
    margin-top: 50px;
}


.top-rated-photos ul {
    display: grid;
    grid-auto-flow: column;
}

.top-rated-photos ul img{
   width: 100%;
}

.hot-news {
    max-width: 1160px;
    margin: 0 auto;
}
.hot-news-header {
    text-transform: uppercase;
    color: #14b9d5;
    font-family: "Open Sans 700";
    font-size: 27px;
    text-align: center;
    margin-top: 50px;
}

.hot-news-content {
    margin-top: 50px;
    display: grid;
    width: 1160px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, max-content);
}

.hot-news-photo-header {
    font-family: "Open Sans 700";
    font-size: 18px;
    margin-top: 14px;
    text-align: center;
}

.hot-news-paragraph {
    font-family: "Open Sans 600";
    color: #5B6469;
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    margin: 15px;
}

.hot-news {
    width: 1160px;
    margin: 0 auto;
}
.hot-news-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    justify-items: end;
}

.hot-news-photos-block1 {
    grid-column: 1/4;
    background-color: #F2F2F2;
    margin-right: 25px;
}
.photo-prophecy-hotel {
    float: left;
    margin-right: 20px;
}

.hot-news-photos-block2 {
    background-color: #F2F2F2;
    grid-column: 4/6;
    width: max-content;
}

.hot-news-photos-block3 {
    grid-column: 1/3;
    background-color: #F2F2F2;
    width: min-content;
    justify-self: start;
}

.hot-news-photos-block4 {
    grid-column: 3/6;
    background-color: #F2F2F2;
    margin-left: 40px;
    width: min-content;
}

.hot-news-photos-block5 {
    grid-column: 1/3;
    background-color: #F2F2F2;
    width: min-content;
    justify-self: start;
}

.hot-news-photos-block6 {
    grid-column: 3/6;
    background-color: #F2F2F2;
    width: min-content;
}

.hot-news-photos-block7 {
    grid-column: 1/2;
    background-color: #F2F2F2;
    justify-self: start;
}

.hot-news-photos-block8 {
    grid-column: 2/6;
    background-color: #F2F2F2;
    margin-left: 45px;
}

.photo-shroud-resort {
    float: left;
    /*margin-right: 15px;*/
}

.footer-block {
    background-color: black;
}

.footer-logo-text-block {
    max-width: 1160px;
    margin: 80px auto 0 auto;
    display: grid;
    grid-template-areas: "all-rights footer-logo footer-text";
}

.all-rights {
    font-family: "Open Sans 600";
    color: white;
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-logo-text {
    margin: auto 0;
    grid-column: 3/4;
    justify-self: end;
}





