@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 100%;
    margin:0 auto;
    max-width: 1280px;
    font-family: Montserrat;
}

.menu {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    width: 1280px;
    font-size: 18px;
}

.line {
    display: inline-block;
}

.menu-list {
    text-decoration: none;
    margin-right: 36px;
    margin-left: 36px;
    color: #395964;
    font-weight: 700;
}

.picture {
    width: 1280px;
    height: 789px;
}

.header {
    text-align: center;
    color: #373737;
    font-size: 29px;
}

.film {
    font-family: Montserrat-Regular;
    text-align: center;
    color: #373737;
    font-size: 16px;
    padding: 0 67.5px 0 67.5px;
    letter-spacing: 2.4px;
}

.link {
    text-align: center;
    padding: 66px 0 0 0;
}

.button {
    background-color: #395964;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1.8px;
    color: #ffffff;
    cursor: pointer;
    border-style: solid;
    border-color: #395964;
}

.right {
    text-align: right;
    padding: 82px 105px 29px 0;
    letter-spacing: 2.4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
}

