@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "variables";
@import "mixins";

* {
  margin: 0
}

.global-container {
  margin: 23px 28px 0 25px;
}

.header__menu-button {
  background: #000000;
  width: 44px;
  height: 37px;
  margin: 23px 0 23px auto;
}

.header__navigation {
  display: none;
  width: 182px;
  background-color: $menu;
  position: absolute;
  right: 28px;
  top: 60px;


  & li {
    padding: 7px 0 7px 10px;
  }

  & li:hover {
    background-color: #e5e5e5
  }

  & a {
    text-decoration: none;
    color: $primary;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.show {
  display: block;
}

.header__navigation-tablet {
  display: none;
}

.main__banner {
  width: 100%;
}

.main__our-recent-posts-header {
  @include headers-of-section
}

.main__our-recent-posts-content {
  @include main__our-recent-posts-content;

  &:last-child {
    display: none;
  }
}

.main__last-instagram-shot-container {
  margin: 0 28px 0 25px;
}

.main__last-instagram-shot-header {
  @include headers-of-section
}

.main__last-instagram-shot-link {
  display: none;
}

.main__last-instagram-shot-images img {
  display: none;

  &:first-child {
    display: inline;
  }
}

.main__last-instagram-shot-photo {
  margin-top: 15px;
}

.footer {
  background: black;
  margin-top: 42px;
  padding-bottom: 45px;
}

.footer__title {
  @include headers-of-section;
  color: white;
  padding-top: 38px;
  text-align: center;
  margin-top: 0;
}

.footer__paragraph {
  margin: 8px 40px 0 40px;
  color: $footer;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
}

.footer__social-media {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.footer__social-media-link {
  margin: 0 5px 0 5px;
}

.footer__address {
  @include footer__contacts;
  margin-top: 10px;
}

.footer__phone-number {
  @include footer__contacts
}

.footer__email {
  @include footer__contacts;

}


@media (min-width: 768px) {

  .global-container {
    margin: 0 80px 0 80px;
  }

  .header__menu-button {
    display: none;
  }

  .header__navigation {
    display: none;
  }

  .header__navigation-tablet {
    display: block;
  }

  .header__navigation-tablet ul {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    margin: 41px 80px 43px 80px;
  }

  .header__navigation-tablet a {
    text-decoration: none;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $primary;

    &:hover {
      color: $hover;
    }
  }

  .main__our-recent-posts-content {
    display: flex;

    &:last-child {
      display: flex;
    }
  }

  .main__our-recent-posts-content p{
    display: block;
  }

  .main__our-recent-posts-content-text {
    margin-left: 20px;

    & h3 {
      margin-top: 0;
    }
  }

  .main__last-instagram-shot-container {
    margin: 0 80px 0 80px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .main__last-instagram-shot {
    margin-top: 60px;
    background-color: #d9d9d9;
  }

  .main__last-instagram-shot-header {
    display: inline-block;
    margin-top: 0;
  }

  .main__last-instagram-shot-link {
    display: inline-block;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
  }

  .main__last-instagram-shot-text {
    display: flex;
    justify-content: space-between;
  }

  .main__last-instagram-shot-images {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main__last-instagram-shot-images img{
    display: inline;
    width: 97%;

    &:last-child {
      display: none;
    }
  }

  .footer {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .global-container {
    margin: 0 215px 0 215px;
  }

  .main__our-recent-posts-content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .main__last-instagram-shot-container {
    margin: 0 215px 0 215px;
  }

  .main__last-instagram-shot-images{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .main__last-instagram-shot-images img:last-child{
    display: inline;
  }
}



