@font-face {
    font-family: "Roboto 700";
    src: url("../fonts/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto 400";
    src: url("../fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}


body {
    background: url("../img/background 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1366px;
}

.top-size {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo-animate {
  margin-top: 50px;
}

.logo-text {
    padding-top: 50px;
    max-width: min-content;
}
.logo-text a{
    max-width: min-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    color: #f26522;
    font-family: "Roboto 700";
    text-transform: uppercase;
    text-decoration: none;
}

.logo {
    grid-row: 1/3;
    margin-right: 8px;
    width: 53px;
    height: 47px;
}
.milan {
    font-size: 29px;
    grid-row: 1/2;
    margin-top: -3px;
}
.holidays {
    font-size: 18px;
    padding-left: 1px;
    margin-top: 5px;
}

.logo-text2 {
    padding-top: 50px;
    max-width: min-content;
}
.logo-text-color a{
    max-width: min-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    color: white;
    font-family: "Roboto 700";
    text-transform: uppercase;
    text-decoration: none;
}

.logo-color {
    grid-row: 1/3;
    margin-right: 8px;
    width: 53px;
    height: 47px;
}
.milan-color {
    font-size: 29px;
    grid-row: 1/2;
    margin-top: -3px;
}
.holidays-color {
    font-size: 18px;
    padding-left: 1px;
    margin-top: 5px;
}

.logo-animate {
    position: relative;
    width: 53px ;
    height: 47px;
}

.logo-animate img {
    position: absolute;
}

.logo-animate a {
    position: absolute;
    left: 0;
    top: 0;
}

.logo-animate>.logo-text {
    opacity: 0;
    filter: alpha(opacity=0);
}

.logo-animate:hover>.logo-text {
    opacity: 1;
    filter: alpha(opacity=100);
}

.logo-animate:hover>.logo-text-color, .logo-animate>.logo-text-color:hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.contacts {
    display: grid;
    height: min-content;
    row-gap: 20px;
    grid-auto-rows: auto;
    margin-top: 50px;
    font-family: "Roboto 400";
}

.contacts a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: end;
    width: min-content;
    white-space: nowrap;
    margin-left: auto;
}

.contacts a:hover {
    color: #f26522;
}

.photo-content {
    max-width: 1030px;
    width: 100%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-block {
    max-width: min-content;
    max-height: min-content;
}

.photo-plus-hover {
    position: relative;
}

.photo-plus-hover a {
    display: block;
    text-decoration: none;
}

.header-link {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 20px 0 37px 0;
}


.photo-block-orange {
    display: grid;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f26522;
    color: white;
    display: none;

}

.from {
    font-size: 10px;
    grid-column: 1/2;
    margin-top: 7px;
    padding-left: 16px;
    color: white;
    pointer-events: none;
}
.price {
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 8px;
    padding-left: 16px;
    margin-bottom: 12px;
    width: min-content;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    pointer-events: none;
}


.details {
    font-size: 14px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto 14px 12px auto;
    width: min-content;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}
.details::after {
    content: ">";
    margin-left: 16px;
}

.photo-block-header {
    color: white;
    font-size: 18px;
    font-family: "Roboto 400";
    text-align: center;
}


.photo-block:hover .photo-block-orange {
    display: grid;
}

.photo-block:hover .photo-block-header a {
    color: #f26522;
}

.copyright {
     font-family: "Roboto 400";
     font-size: 12px;
     color: white;
     text-align: center;
     margin-top: 10px;
     padding-bottom: 15px;
     pointer-events: none;
}








