.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 80px;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    border-style: none;
    text-decoration: none;
    font-weight: bold;
    background-color: blue;
    margin: 250px auto 0 auto;
    font-size: 25px;
    text-transform: uppercase;
}

.button:hover {
    background-color: yellow;
    color: blue;
}


