.dark {
    background-color: #2c2c2c;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

.logo-link {
    display: flex;
    margin: 63px 1048px 0 0;
    font-size: 80px;
    width: 334px;
    height: 79px;
}
.link {
    text-decoration: none;
    color: black;
}
.blue {
    color: #4bcaff;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.theme-icon{
    margin-top: 63px;
    margin-left: auto;
}

.menu {
    background: #35444f;
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.menu-item{
    margin: 0 -2px 0 -3px;
}

.menu li {
    display: inline-block;
    font-size: 24px;
}

.menu-link {
    display: block;
    padding: 26px 32px 19px;
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.menu li:hover {
    background: #222f3a;
}

.main-information {
    display: flex;
    margin-top: 67px;
}

.left-menu {
    display: inline-block;
    border: 1px solid black;
    width: 344px;
    font-size: 27px;
    margin-bottom: auto;
}

.left-menu-link {
    display: block;
    padding: 26px 0 26px 44px;
    text-decoration: none;
    color: black;
}

.left-menu li:hover {
    background: #dbdbdb;
    padding-left: 36px;
}

.picture-text {
    margin-left: auto;
    width: 885px;
}

.picture {
    width: 885px;
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.picture-icon {
    height: 381px;
    width: 320px;
}

.picture:hover img {
    transform: scale(1.2);
}

.picture-icon {
    transition: 1s;
}

.text{
    color: #2c2c2c;
    font-size: 18px;
    line-height: 24px;
}

.lorem {
    margin-top: 35px;
}

.footer-menu{
    background-color: #b4b7b9;
    font-size: 28px;
    margin-top: 54px;
    line-height: 28px;
    display: flex;
}

.footer-menu li {
    display: inline-block;
    vertical-align: top;
    padding-top: 21px;
    padding-bottom: 21px;
}

.footer-menu li:hover{
    color: #3181A6;
    cursor: pointer;
    padding-bottom: 13px;
    border-bottom: 1px #3181A6 solid;
}

.footer-menu-link {
    color: inherit;
    text-decoration: none;
}

.footer-menu-item {
    margin-left: 25px ;
    margin-right: auto;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    pointer-events: none;
    margin: auto 40px auto auto;
}
