body, html {
    background-image: url("../img/zvezdnoe_nebo_nebo_zvezdy_211853_2400x3200.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #f3cc07;
    background-color: #000;
    overflow: hidden;
}

.titles {
    position: absolute;
    width: 16em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -8em;
    font-size: 500%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}


.titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 2s infinite;
    text-align: center;
}

.titlecontent h2 {
    margin-top: 100px;
}

.titlecontent p {
    margin-top: 100px;
    text-align: left;
    line-height: 120px;
}

@keyframes scroll {
0% { top: 100%; }
100% { top: -1%; }
}



