.button__container {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;

  button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
  }
}